/* место для вашего кода */
.header,
.cover,
.lots,
.about,
.footer {
  margin: 0 auto;
  max-width: 1100px;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  margin: 0 auto;
  max-width: 1100px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {

}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

/* COVER */
.cover {
  position: relative;
  padding: 165px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1100px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  z-index: 2;
}

.aligned-text {
  display: block;
  line-height: 1;
}

.aligned-text_center {
  align-self: center;
  margin-right: 30px;
}

.aligned-text_right {
  align-self: end;
  margin-right: 30px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
  z-index: 2;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  white-space: nowrap;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

/* LOTS */
.lots {
  padding: 180px 50px;
  margin: 0 auto;
  max-width: 1100px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: calc(33.333% - 17px);
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  z-index: 2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
  margin: 0 auto;
  max-width: 1100px;
}

.about__column:last-child {
  text-align: left;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 100px 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px 90px;
  margin: 0 auto;
  max-width: 1100px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
}

.header__link,
.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-weight: 500;
}